## {{ ansible_managed }}

ExpiresActive on

# No caching by default
ExpiresDefault "access plus 0 seconds"

# CSS
ExpiresByType text/css "access plus 1 days"

# 1 HOUR - Feed Data interchange
ExpiresByType application/atom+xml "access plus 1 hour"
ExpiresByType application/rdf+xml "access plus 1 hour"
ExpiresByType application/rss+xml "access plus 1 hour"

# NO CACHING - Rest Data interchange
ExpiresByType application/json "access plus 0 seconds"
ExpiresByType application/ld+json "access plus 0 seconds"
ExpiresByType application/schema+json "access plus 0 seconds"
ExpiresByType application/vnd.geo+json "access plus 0 seconds"
ExpiresByType application/xml "access plus 0 seconds"
ExpiresByType text/xml "access plus 0 seconds"

# 1 YEAR - Favicon (cannot be renamed!) and cursor images
ExpiresByType image/vnd.microsoft.icon "access plus 1 years"
ExpiresByType image/x-icon "access plus 1 years"

# NO CACHING - HTML
ExpiresByType text/html "access plus 0 seconds"

# 1 HOUR - JavaScript / This is combined with in-house timestamp solution
ExpiresByType application/javascript "access plus 1 hour"
ExpiresByType application/x-javascript "access plus 1 hour"
ExpiresByType text/javascript "access plus 1 hour"

# NO CACHING - Manifest files
ExpiresByType application/manifest+json "access plus 0 seconds"
ExpiresByType application/x-web-app-manifest+json "access plus 0 seconds"
ExpiresByType text/cache-manifest "access plus 0 seconds"

# Media files
ExpiresByType audio/ogg "access plus 24 hours"
ExpiresByType image/bmp "access plus 24 hours"
ExpiresByType image/gif "access plus 24 hours"
ExpiresByType image/jpeg "access plus 24 hours"
ExpiresByType image/png "access plus 24 hours"
ExpiresByType image/svg+xml "access plus 24 hours"
ExpiresByType image/webp "access plus 24 hours"
ExpiresByType video/mp4 "access plus 24 hours"
ExpiresByType video/ogg "access plus 24 hours"
ExpiresByType video/webm "access plus 24 hours"

# Web fonts

# 1 day - Embedded OpenType (EOT)
ExpiresByType application/vnd.ms-fontobject "access plus 24 hours"
ExpiresByType font/eot "access plus 24 hours"

# 1 day - OpenType
ExpiresByType font/opentype "access plus 24 hours"

# 1 day - TrueType
ExpiresByType application/x-font-ttf "access plus 24 hours"

# 1 day - Web Open Font Format (WOFF) 1.0
ExpiresByType application/font-woff "access plus 24 hours"
ExpiresByType application/x-font-woff "access plus 24 hours"
ExpiresByType font/woff "access plus 24 hours"

# 1 day - Web Open Font Format (WOFF) 2.0
ExpiresByType application/font-woff2 "access plus 24 hours"

# 1 day - Other
ExpiresByType text/x-cross-domain-policy "access plus 24 hours"

