IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'{{app_db_user}}')
BEGIN
    CREATE USER [{{app_db_user}}] FOR LOGIN [{{app_db_user}}]
    EXEC sp_addrolemember N'db_owner', N'{{app_db_user}}'
END;
GO
