## {{ ansible_managed }}
Header set X-XSS-Protection "1; mode=block"
Header set X-Permitted-Cross-Domain-Policies "none"
Header set X-Content-Type-Options nosniff
Header set X-Frame-Options SAMEORIGIN
#<filesMatch "\.(html|htm|js|css)$">
   Header unset ETag
   Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
   Header set Pragma "no-cache"
   Header set Expires "Tue, 01 Jan 1980 00:00:00 GMT"
#</filesMatch>

